<%- include('partials/header') %>

<div class="main-content">
    <h1>Profile Page</h1>
    <p><strong>Username:</strong> <%= username %></p>
    <p><strong>Number of polls you voted in:</strong> <%= votedPollsCount %></p>
    <div class="button-container">
        <a href="/createPoll" class="action-button">Create Poll!</a>
    </div>
</div>
</body>
</html>